@import url(https://fonts.googleapis.com/css?family=Lobster);

#Main{
      /* height: 90vh; */
}
#brand{
      font-family: 'Lobster';
      color:#37517e;
      font-size: 30px;
}
#Delicious{
      font-family: 'Lobster';  
      font-size: 50px;  
      font-weight: 700;
}

.nav-link{
      color:#37517e;
}

.resintro{
      font-size: 20px;
      /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.btn-book-a-table {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 36px;
      border-radius: 50px;
      transition: 0.5s;
      color: #fff;
      background: var(--color-primary);
      box-shadow: 0 8px 28px rgb(206 18 18 / 20%);
      background-color: orange;
      text-decoration: none;
  }

#why-us{
  /* height:90vh */
}
.abouth,.service,.why-us-h{
  font-family: 'Lobster';
}


#tick-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#tick-mark::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: #336699;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

#tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #336699;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.about{
  background: #fffaf3;

}
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
#services{
  /* height: 50vh; */
}
.button-17 {
  align-items: center;
  appearance: none;
  background-color: orange;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #43433c;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}


.icon-box:hover{
  background-color: orange;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}



section {
  padding: 60px 0;
  /* overflow: hidden;
  height:70vh */
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
section {
  display: block;
}